<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<style>
    .carousel-inner img {
        width: 100%; 
        height: 60vh; 
        margin: auto;
        display: block; 
    }
</style>

    <div id="carouselExample" class="carousel slide mt-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Url.Content(ViewData["img1"].ToString())" class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="@Url.Content(ViewData["img2"].ToString())" class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="@Url.Content(ViewData["img3"].ToString())" class="d-block w-100" alt="Slide 3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

 
    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            slides[slideIndex - 1].style.display = "block";
            setTimeout(showSlides, 1000); // Her 2 saniyede bir kaydır
        }
    </script>
</div>

<div class="text-center mt-2">
    <p>Learn about <a href="https://en.wikipedia.org/wiki/History_of_books" style="color:#8C2626">History of Books</a>.</p>
</div>